body {
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: black;
    color: white;
}

h1 {
    color: white;
    border-bottom: 2px solid #3498db;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    border: 1px solid #ddd;
    color: white;
} 